.c-card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px;
    &::after{
        content:"";
        display: block;
        width: 33.33%;
      }
    &_item{
        width: 33.33%;
    }
    &_inner{
        position: relative;
    }
    &_desc{
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(#000,.8);
        opacity: 0;
        transition: opacity .4s;
        width: 100%;
        height: 100%;
        border: solid 2px #5FCE98;
        color: #5FCE98;
        &_inner{
            padding: 0 25px;
            margin-top: 10%;
        }
        &_title{
            font-size: 14px;
        }
        &_text{
            font-size: 12px;
            line-height: 1.7;
            letter-spacing: 0.1em;
        }
        &:hover{
            transition: opacity .4s;
            opacity: 1;
        }
    }
}

@include breakpoint(tb) {
    .c-card{
        &::after{
            content:"";
            display: block;
            width: 33.33%;
          }
        &_item{
            width: 33.33%;
        }
        &_inner{
        }
        &_desc{
           display: none;
            &_inner{
            }
            &:hover{
            
            }
        }
    }
}