.c-descHasPoster{
    display: flex;
    flex-wrap: wrap;
    width: 1240px;
    padding: 20px 40px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    &_poster{
        max-width: 320px;
        width: 100%;
    }
    &_desc{
        color: #5FCE98;
        max-width: 450px;
        width: 100%;
        padding: 20px;
        &_date{
            margin-top: 15px;
        }
        &_runTime{
            margin-top: 5px;
        }
    }
}

@include breakpoint(tb) {
    .c-descHasPoster{
        padding: 20px 20px;
        &_poster{
            
        }
        &_desc{
            margin-top: 30px;
            &_text{

            }
            &_date{
            }
            &_runTime{
            }
        }
    }
}