.c-form{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 25px;
    &_input{
        width: 15%;
        min-width: 250px;
        padding: 6px 10px;
        border: solid 2px #5FCE98;
        color: #5FCE98;
        background-color: #000;
    }
    &_submit{
        width: 30px;
        margin-left: 10px;
    }
}