.c-listSns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 195px;
    margin-left: auto;
    &_item{
        width: 40px;
        min-width: 40px;
        &.-is-large{
            min-width: 75px;
        }
    }
}